<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <!-- <h2>Enter your Phrase: <%= "#{@phrase}" %></h2>
  <h2>user_phrase: <%= "#{@up}" %></h2> -->
   <form>
     <form method="POST" action="/food">
      <p>Enter your phrase: <input type="text" name="phrase"></p>
      <p>user_phrase: <input type="text" name = "up"></p>
       <input type="submit" name="submit" value="submit" id="submit"/>
   </form>
  </body>
</html>
